<div class="form">
	<form class="register" action="/register" method="POST" class="signup-form" style="display: block;">
	  <input name="username" type="text" class="text-input" placeholder="username">
	  <input name="password" type="password" class="text-input" placeholder="password">
	  <input name="passwordConfirmation" type="password" class="text-input" placeholder="password confirmation">
	  <input class="sign-up-submit" type="submit">
	</form>
</div>